{% extends "_base_email.html" %}

{% block styles %}
    <style type="text/css">
        .dashboard-button {
            border-radius: 30px;
            background-color: #FFE500;
            outline: none;

            padding: 12px 35px;
            border: none;
            cursor: pointer;

            position: relative;
            display: flex;
            justify-content: center;

            width: 150px;

            transition: background-color .2s linear;

            text-decoration: none;
            color: #1e1e1e;
        }
    </style>
{% endblock %}

{% block content %}
<tr>
    <td style="text-align: left; padding: 40px 40px 20px 40px; color: #1e1e1e; font-size: 18px">
        <p>
            Hi, {{ username }}
        </p>

        <p>
            You have received a new message from your booster.
            Please visit the Dashboard and check this out.
        </p>
    </td>
</tr>

<tr>
    <td style="text-align: left; padding: 10px 40px 10px 40px; color: #1e1e1e; font-size: 18px">
        <a class="dashboard-button" href="{{ dashboard_link }}">
            <span style="font-size: 16px; font-weight: bold; text-align: center; width: 100%; color: #1e1e1e;">
                Dashboard
            </span>
        </a>
    </td>
</tr>

{% endblock %}
