{% extends "_base_email.html" %}

{% block content %}

        <tr>
            <td style="text-align: left; padding: 10px 40px; color: #1e1e1e; font-size: 18px">
                <p>
                    Hello Dear Customer,
                </p>

                <p>
                    Exciting things are happening at <a href="https:/littlelight.store?utm_source=newsletter&utm_medium=email&utm_campaign=best_clients">LittleLight.store</a>, and we want to share some important news with you. Loyalty from customers like you has fueled continued growth, making a move to a new website necessary.
                </p>

                <p>
                    This is just one of many exciting developments. Visit <a href="https:/littlelight.store?utm_source=newsletter&utm_medium=email&utm_campaign=best_clients">LittleLight.store</a> to find out more. Now even more comfort of use on all platforms. We are faster, more efficient, cheaper and more stylish. Our prices have become even more flexible and boosters even faster.
                </p>

                <p>
                    You received this email because you have used our services in the past and we want to see you among our customers in the future, so we have prepared special discounts and offers for you.
                </p>
            </td>
        </tr>
{% endblock %}
